<div style='height:100%;overflow: auto;padding: 0.5em;border-top: 1px solid #c8c8c8;position: relative;background-color: white;'>
    <table style='border-collapse: collapse; min-width: 80%; margin: auto;'>
        <tbody>
            <tr v-for='row in tableData()'>
                <td v-for='cell in row' style='border: 1px solid lightgrey;'>{{cell}}</td>
            </tr>
        </tbody>
    </table>
    <div style='position: absolute;bottom: 0px;'>
        <div style='display: inline-block; border: 1px solid #c8c8c8; border-top-left-radius: 0.5em; border-top-right-radius: 0.5em; margin-right: 0.5em; padding: 0.2em;background-color: rgb(235, 235, 235);cursor: pointer;'
            v-for='sheetName in sheetsNames()' @click='sheet=sheetName'>{{sheetName}}</div>
    </div>
</div>